@font-face {
    font-family: 'FuturaFuturisC';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("/src/fonts/FuturaFuturisC.woff") format("woff"),
         url("/src/fonts/FuturaFuturisC.woff2") format("woff2");
}

@font-face {
    font-family: 'FuturaFuturisC-Bold';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("/src/fonts/FuturaFuturisC-Bold.woff") format("woff"),
         url("/src/fonts/FuturaFuturisC-Bold.woff2") format("woff2");
}

@font-face {
    font-family: 'FuturaLight-light';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("/src/fonts/FuturaLight-light.woff") format("woff"),
         url("/src/fonts/FuturaLight-light.woff2") format("woff2");
}


@font-face {
    font-family: 'FuturaBook';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("/src/fonts/FuturaBook.woff") format("woff"),
         url("/src/fonts/FuturaBook.woff2") format("woff2");
}


