
//  Colors 

$portage:#969af7;
$athens-gray: #f2f2f4;
$god-gray: #111111;
$astronaut: #2a336c;
$indigo: #5172c4;
$web-orange: #ffa500; 
$mine-shaft: #333333;
$white: #ffffff;

// Breakpoints
$screen-tablet: '(min-width: 768px)';
$screen-desktop: '(min-width: 1280px)';
$screen-desktop-large: '(min-width: 1920px)';


// Fonts

$font-family-default: "Arial", "Helvetica", sans-serif;

$font-size-huge:69px;  
$font-size-big:45px;
$font-size-medium:22px;
$font-size-normal:20px;
$font-size-small:18px;
$font-size-tiny:14px;